DATABASE_URL="postgresql://postgres_user:postgres_pass@localhost:5432/sahim?schema=public"
NODE_ENV="development"

# urls and domains
API_PORT=5000
CORS='http://localhost:3000'
FRONTEND_URL='http://localhost:3000'

# jwt keys
TOKEN_ENCRYPTION_KEY="" # generate a secure random key for refresh token encryption